html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
  line-height: 2em;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #38CCCC;
}

a:hover {
  color: #30ADAD;
}

.tm-about-text a {
  color: #FF6887;
}

.tm-about-text > p {
  color: #112A46;
}

input {
  color: #040019;
}

h1,
h2,
i,
.tm-text-white {
  color: white;
}

.tm-about-header > h2 {
  color: #FF6887;
}

.tm-link-gray {
  color: #999999;
}

.tm-link-white {
  color: white;
}

.tm-container-fluid {
  width: 100%;
  max-width: 970px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 60px 15px;
}

.tm-site-header {
  height: 470px;
}

.tm-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tm-about,
.tm-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tm-contact {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.tm-about > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.tm-contact-form-container,
.tm-contact-info {
  width: 40%;
}

.tm-contact-info {
  padding-top: 11%;
}

.tm-contact-header {
  width: 20%;
}

.tm-contact-header {
  padding-left: 50px;
  padding-right: 50px;
}

.tm-contact {
  padding: 50px 20px;
}

.tm-contact > div {
  padding-left: 34px;
  padding-right: 34px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.socials {
  display: block;
  text-align: center;
  padding-bottom: 7%;
  font-weight: bold;
  color: white;
  font-size: 1.7rem;
}

input,
textarea,
button {
  display: block;
}

input,
textarea {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  background: transparent;
  border: 0;
  border-bottom: 1px solid white;
  color: #031B38;
  padding: 15px 0;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

::-webkit-input-placeholder {
  color: white;
}

/* Edge */
:-ms-input-placeholder {
  color: white;
}

/* Internet Explorer 10-11 */
::-webkit-input-placeholder {
  color: white;
}
:-ms-input-placeholder {
  color: white;
}
::-ms-input-placeholder {
  color: white;
}
::placeholder {
  color: white;
}

.tm-right {
  margin-right: 0;
  margin-left: auto;
}

.tm-btn-submit {
  cursor: pointer;
}

.tm-btn-submit:hover {
  color: #000000;
}

/*button styles */
/* From uiverse.io by @alexmaracinaru */
.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: none;
  background: none;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #FEF38D;
  width: 45px;
  height: 45px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #b1dae7;
}

.cta:hover svg {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.cta:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.tm-social-link {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tm-social-link i {
  color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 2.5rem;
}

.tm-social-link:hover i.fa-facebook {
  color: #3b5998;
}

.tm-social-link:hover i.fa-twitter {
  color: #00acee;
}

.tm-social-link:hover i.fa-instagram {
  color: #3f729b;
}

.tm-social-link:hover i.fa-solid {
  color: #fbf093;
}

.fa-users {
  color: #FF6887;
}

.tm-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 680px) {
  .tm-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tm-contact-form-container,
  .tm-contact-info,
  .tm-contact-header {
    width: 100%;
  }
  .tm-contact-form-container {
    margin-bottom: 20px;
  }
  .tm-contact-info {
    margin-bottom: 30px;
  }
}

@media (max-width: 545px) {
  .tm-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.tm-p-50 {
  padding: 50px;
}

.tm-mb-0 {
  margin-bottom: 0;
}

.tm-mb-30 {
  margin-bottom: 30px;
}

.tm-mb-40 {
  margin-bottom: 40px;
}

.tm-mb-50 {
  margin-bottom: 50px;
}

.tm-mb-80 {
  margin-bottom: 80px;
}

.tm-bgcolor-1 {
  background-color: #f67796;
}

.tm-bgcolor-2 {
  background-color: #fef38d;
}

.tm-bgcolor-3 {
  background-color: #FFAE8A;
}

.tm-border-rounded {
  border-radius: 15px;
}

/* Image Gallery */
.gallery-image {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery-image img {
  height: 250px;
  width: 250px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.img-box {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 10px;
  height: 250px;
  width: 250px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white;
}

.caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 0.0;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
}

.transparent-box {
  height: 250px;
  width: 350px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.img-box:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.img-box:hover .caption {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  opacity: 1.0;
}

.img-box:hover {
  cursor: pointer;
}

.caption > p:nth-child(2) {
  font-size: 0.8em;
}

.opacity-low {
  opacity: 0.5;
}
/*# sourceMappingURL=tooplate-style.css.map */